pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

# Ignore ClojureScript output file
/out/

# Ignore (local) node_modules
node_modules/